body{
  font-family: 'Poppins', sans-serif;
  background-color: #d8ecff;
  padding-top: 70px;
}
.nav-item a:hover{
  transition: all .3s ease;

}

@keyframes slideIn{
  0%{
    transform: translateY(-10%);
    opacity: 0;
  }
  100%{
    transform: translateY(0);
    opacity: 1;
  }
    0%{
    transform: translateY(-10%);
    opacity: 0;
  }
}


@media screen and (min-width: 992px) {
.navbar-nav .nav-item .dropdown-menu {
  display: none;
  
}
.navbar-nav .nav-item:hover .dropdown-menu  {
  display: block;
  animation-name: slideIn;
  animation-duration: .5s;
}}

.dropdown-menu-end{
  right: 0;
  left: auto; 

}