body{
  font-family: 'Poppins', sans-serif;
  background-color: #d8ecff;
  padding-top: 70px;
}
.nav-item a:hover{
  transition: all .3s ease;

}

@keyframes slideIn{
  0%{
    transform: translateY(-10%);
    opacity: 0;
  }
  100%{
    transform: translateY(0);
    opacity: 1;
  }
    0%{
    transform: translateY(-10%);
    opacity: 0;
  }
}
 .dropdown-menu-end{
  right: 0;
  left: auto; 
  margin-left: 0;
  margin-right: 0;
}
.nav-item .dropstart > .dropdown-menu{
  margin-right: 0;
}